<html>
    <head>
        <title>Prediction</title>
    </head>

    <body>

        <form action="/predict" method="POST">
            Custid : <input type="text" name="custid" id="custid"><br>
            Custname : <input type="text" name="custname" id="custname"><br>
            CredScore : <input type="text" name="credscore" id="credscore"><br>
            Geography : <input type="text" name="geog" id="geog"><br>
            Gender : <input type="text" name="gender" id="gender"><br>
            Age : <input type="text" name="age" id="age"><br>
            Tenure : <input type="text" name="tenure" id="tenure"><br>
            Balance : <input type="text" name="balance" id="balance"><br>
            Numprod : <input type="text" name="numprod" id="numprod"><br>
            HasCard : <input type="text" name="hascard" id="hascard"><br>
            IsActive : <input type="text" name="isactive" id="isactive"><br>
            Estimated Salary: <input type="text" name="estdsal" id="estdsal"><br>
            Model : <input type="text" name="model" id="model"><br><br>

            <input type="submit" value="Submit">
        </form>

    </body>
</html>


<!--

<span > Enter CustID: </span>
					<div class="wrap-input2 validate-input">
						<input class="input2" type="text" name="custid">
						<span class="focus-input2" ></span>
					</div>

                    <span > Enter Customer Name: </span>
					<div class="wrap-input2 validate-input">
						<input class="input2" type="text" name="custname">
						<span class="focus-input2" ></span>
					</div>

-->